<br>

<div class="container">

  <div class="row align-items-start">

    <div class="col">
      <label><b>Name :</b></label>
      <div class="col">
        <input class='form-control' type="text" (input)="onNameChange($any($event.target).value)">
      </div>
    </div>

    <div class="col">
      <label><b>Name : </b>{{name | titlecase}}</label>
    </div>

  </div>

  <br>

  <div class="row align-items-start">

    <div class="col">
      <label><b>Date :</b></label>
      <div class="col">
        <input class='form-control' type="date" (input)="onDateChange($any($event.target).value)">
      </div>
    </div>

    <div class="col">
      <label><b>Date : </b> {{date | date:'fullDate'}}</label>
    </div>

  </div>

  <br>

  <div class="row align-items-start">

    <div class="col">
      <label><b>Amount :</b></label>
      <div class="col">
        <input class='form-control' (input)="onAmountChange($any($event.target).value)">
      </div>
    </div>

    <div class="col">
      <label><b>Amount : </b> {{amount | currency}}</label>
    </div>

  </div>

  <br>

  <div class="row align-items-start">

    <div class="col">
      <label><b>Height(cm) :</b></label>
      <div class="col">
        <input class='form-control' (input)="onHeightChange($any($event.target).value)">
      </div>
    </div>

    <div class="col">
      <label><b>Height : </b> <span *ngIf="feet">{{feet}}ft </span> <span *ngIf="inch">{{inch}}in</span></label>
    </div>

  </div>

  <br>

  <div class="row align-items-start">

    <div class="col">
      <label><b>Distance(Miles) :</b></label>
      <div class="col">
        <input class='form-control' (input)="onDistanceChange($any($event.target).value)">
      </div>
    </div>

    <div class="col">
      <label><b>Distance : {{distance | convert: 'km'}}</b> </label>
    </div>

  </div>



</div>